.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.register-form {
  position: relative;
  height: 850px;
  background: #f7f8f9;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.register-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  background: #f7f8f9;
  padding: 30px;
  border-radius: 10px;

  max-width: 400px;
}

.register-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.register-title {
  color: #1a1a1a;
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.register-label {
  color: #6c757d;
  font-size: 0.9rem;
  margin-top: 15px;
  margin-bottom: 5px;
}

.register-label::after {
  content: "*";
  color: #dc3545;
  margin-left: 2px;
}

.register-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 0.9rem;
}

.register-radio-group {
  margin-top: 10px;
  display: flex;
  gap: 15px;
}

.register-radio-label {
  margin-right: 15px;
}

.register-radio {
  margin-right: 5px;
}

.register-button {
  background-color: #6f42c1;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin: 20px;
  width: 90%;
}

.register-button:hover {
  background-color: #5a329a;
}
